@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, video {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"), url("../fonts/RobotoRegular/RobotoRegular.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype"), url("../fonts/RobotoMedium/RobotoMedium.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"), url("../fonts/RobotoBold/RobotoBold.svg#Roboto") format("svg"); }

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  min-width: 320px;
  color: #333333;
  position: relative;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

video.video {
  min-height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  min-width: 100%;
  background: #000;
  z-index: -1; }

canvas.canvas {
  min-height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  min-width: 100%;
  /* background: #000; */
  z-index: -1; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.hidden {
  display: none; }

.wrapper {
  margin: 0 auto; }

a {
  text-decoration: none; }

form input.error {
  box-shadow: inset 0px 0px 20px 1px rgba(255, 0, 0, 0.3);
  border: 2px solid red !important; }

form input.not_error {
  box-shadow: inset 0px 0px 20px 1px rgba(100, 255, 100, 0.3);
  border: 2px solid #99FF99 !important; }

.container {
  width: 100%;
  max-width: 1260px;
  padding: 0 10px;
  margin: 0 auto; }

.preloaderGM {
  z-index: 999999999;
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  padding-top: 45vh;
  background: #fff;
  opacity: 1;
  animation: preloader_hide 1s 2s linear forwards, decrease 1s 3s linear forwards;
  -o-animation: preloader_hide 1s 2s linear forwards, decrease 1s 3s linear forwards;
  -moz-animation: preloader_hide 1s 2s linear forwards, decrease 1s 3s linear forwards;
  -ms-animation: preloader_hide 1s 2s linear forwards, decrease 1s 3s linear forwards;
  -webkit-animation: preloader_hide 1s 2s linear forwards, decrease 1s 3s linear forwards; }

.preloaderGM .pre_circles {
  width: 50px;
  height: 50px;
  margin: 0 auto; }

.preloaderGM .pre_circles .pre_circle1 {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #232323;
  will-change: contents;
  animation: circle_grow 1s 1s linear infinite;
  -o-animation: circle_grow 1s 1s linear infinite;
  -webkit-animation: circle_grow 1s 1s linear infinite;
  -moz-animation: circle_grow 1s 1s linear infinite;
  -ms-animation: circle_grow 1s 1s linear infinite;
  opacity: 0; }

.preloaderGM .pre_circles .pre_circle2 {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 0px;
  height: 0px;
  border-radius: 50px;
  border: 2px solid #232323;
  will-change: contents;
  animation: circle_grow 1s 2s linear infinite;
  -o-animation: circle_grow 1s 2s linear infinite;
  -moz-animation: circle_grow 1s 2s linear infinite;
  -ms-animation: circle_grow 1s 2s linear infinite;
  -webkit-animation: circle_grow 1s 2s linear infinite;
  opacity: 0; }

@keyframes decrease {
  0% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes circle_grow {
  0% {
    width: 0;
    height: 0;
    margin-left: 25px;
    margin-top: 25px;
    opacity: 1; }
  100% {
    width: 50px;
    height: 50px;
    margin-left: 0px;
    margin-top: 0px;
    opacity: 0; } }

@keyframes preloader_hide {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes loader_vis {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.modal-overlay {
  display: none;
  padding-top: 1px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  overflow: auto; }
  .modal-overlay .modal-content {
    margin: 10vh auto;
    width: 60vw;
    padding: 30px;
    background: #fff;
    margin-bottom: 0px;
    border-radius: 4px;
    height: 70vh; }
  .modal-overlay .close-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 30px;
    right: 40px;
    padding: 0px 14px;
    padding-top: 4px;
    cursor: pointer;
    transition: 0.2s linear; }
    .modal-overlay .close-button .one {
      height: 50px;
      width: 2px;
      background-color: #fff;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transition: 0.2s linear; }
    .modal-overlay .close-button .two {
      margin-top: -50px;
      height: 50px;
      width: 2px;
      background-color: #fff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transition: 0.2s linear; }
    .modal-overlay .close-button:hover .one {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transition: 0.2s linear;
      background-color: #000; }
    .modal-overlay .close-button:hover .two {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transition: 0.2s linear;
      background-color: #000; }

#modal-video .modal-content {
  height: auto;
  width: 100%; }

#modal-video .video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden; }
  #modal-video .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/*Параметры контейнера */
.countdownHolder {
  width: 450px;
  margin: 0 auto;
  font: 30px/1.5 Roboto, sans-serif;
  text-align: center;
  letter-spacing: -3px;
  /*Параметры цифр */
  /*Параметры подложки для секций */
  /*Параметры секций разделения (:)*/
  /*Параметры вспомогательного текста (дни, часы, минуты, секунды)*/ }
  .countdownHolder .position {
    display: inline-block;
    height: 1.7em;
    overflow: hidden;
    position: relative;
    width: 0.55em; }
  .countdownHolder .digit {
    position: absolute;
    display: block;
    width: 0.5em;
    border-radius: 0.2em;
    text-align: center;
    color: #000;
    letter-spacing: -1px; }
    .countdownHolder .digit.static {
      margin-top: 18px; }
  .countdownHolder .countDays,
  .countdownHolder .countHours,
  .countdownHolder .countMinutes,
  .countdownHolder .countSeconds {
    background: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px; }
  .countdownHolder .countDiv {
    display: none;
    width: 16px;
    height: 1.6em;
    position: relative; }
    .countdownHolder .countDiv:before, .countdownHolder .countDiv:after {
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: #444;
      border-radius: 50%;
      left: 50%;
      margin-left: -3px;
      top: 0.5em;
      box-shadow: 1px 1px 1px rgba(4, 4, 4, 0.5);
      content: ''; }
    .countdownHolder .countDiv:after {
      top: 0.9em; }
  .countdownHolder .textdigit {
    font-size: 15px;
    font-family: Roboto;
    letter-spacing: 0px; }

.subm {
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
  transition: all 0.3s linear;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }
  .subm:hover, .subm:focus {
    -ms-transform: scale(1.02);
    transform: scale(1.02); }

.btn {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

form.standart-form {
  max-width: 400px;
  text-align: center;
  position: relative; }
  form.standart-form .part {
    margin: 0 auto;
    display: inline-block;
    min-width: 300px; }
  form.standart-form .label {
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px; }
  form.standart-form input.name,
  form.standart-form input.email,
  form.standart-form input.phone {
    width: 300px;
    max-width: 300px;
    height: 45px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    margin-bottom: 15px;
    display: block; }
  form.standart-form:before {
    content: "";
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.7) url(../img/loading.svg) 50% no-repeat;
    z-index: 10; }
  form.standart-form.loading:before {
    display: block; }

.footer1,
.footer2,
.footer3 {
  vertical-align: top;
  display: inline-block; }

footer {
  font-family: Roboto;
  font-weight: 500;
  vertical-align: top;
  padding-bottom: 35px;
  width: 100%;
  min-height: 250px;
  background-color: #fff;
  text-align: center; }

footer br.sm {
  display: none; }

footer br.xs {
  display: none; }

footer p {
  color: #363636;
  font-size: 13px;
  line-height: 20px;
  text-align: left; }

footer .social {
  margin-bottom: 30px;
  text-align: center; }

footer a {
  padding: 0 10px;
  padding-left: 0px;
  color: #363636;
  font-size: 13px;
  transition: all 0.3s linear;
  text-align: left; }

footer a:hover {
  text-decoration: none; }

footer a.partners {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 250px;
  height: 50px;
  line-height: 50px;
  color: #f45c33;
  border: 1px solid #f45c33; }

footer a.partners:hover {
  color: #fff;
  background-color: #f45c33; }

footer .contacts {
  margin-top: 0; }

footer .copy {
  margin-top: 44px;
  margin-bottom: 0; }

footer .icon-soc {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: top;
  margin: 0px 20px;
  background: #464646;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding: 0px; }
  footer .icon-soc i {
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    margin: 0 auto; }

footer a.icon-soc:hover {
  opacity: 0.8; }

footer .icon-fb {
  margin-left: 0px; }

footer .icon-yt {
  margin-right: 0px; }

footer .modal-btn {
  padding-left: 20px;
  display: block;
  margin-top: 0px;
  margin-bottom: 14px; }

footer .modal-btn:before {
  content: '\f00c';
  font-family: FontAwesome;
  margin-left: -10px;
  margin-right: 10px;
  color: #6895b7; }

.footer2 {
  padding-top: 60px;
  margin-left: 30px; }

.footer3 {
  padding-top: 58px;
  margin-left: 30px; }

.footer3 p.text4 {
  line-height: 25px;
  text-align: right;
  font-family: Roboto;
  font-weight: 400; }

.footer3 p.text4 span a {
  font-size: 16px;
  padding-right: 70px;
  float: left;
  font-family: Roboto;
  font-weight: 700; }

.footer-line {
  display: inline-block;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 90%;
  height: 1px;
  background-color: #6c6c6c;
  opacity: 0.3; }

footer .bottom-text {
  font-size: 13px;
  line-height: 22px;
  text-align: center; }

footer a.mail {
  background-color: #f8ff44;
  color: #636475;
  font-weight: 700; }

@media only screen and (max-width: 1130px) {
  footer .footer3 {
    margin-left: 0px; } }

@media only screen and (max-width: 720px) {
  footer .copy {
    margin: 24px auto;
    display: block; }
  .footer2 {
    padding-top: 0px;
    margin: 0 auto;
    display: block; }
  footer p {
    color: #979898;
    font-size: 13px;
    text-align: center; }
  footer a.icon-soc {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: top;
    margin: 0px 10px; }
  .footer3 p.text4 span {
    color: #636475;
    font-size: 16px;
    padding-right: 20px; }
  .footer-inline {
    padding-left: 50px;
    padding-top: 20px; }
  .footer3 {
    padding-top: 38px;
    margin-left: 0px; }
  footer .bottom-text br {
    display: none; } }
