/*********************************************\
		Desktop First Method
\*********************************************/
/* Medium Devices, Notebooks */
@media only screen and (max-width: 1260px) {
  .container {
    width: 100%;
    max-width: 760px;
    padding: 0 10px;
    margin: 0 auto; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 760px) {
  .container {
    width: 100%;
    max-width: 340px;
    padding: 0 10px;
    margin: 0 auto; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    animation: none !important; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 340px) {
  .container {
    padding: 0;
    overflow: hidden;
    width: 320px; } }

/*********************************************\
		Mobile First Method
\*********************************************/
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
