include ../common/variables.jade
doctype html
html(lang='ru-RU')
	head
		include ../common/gtm.jade
		include ../partials/headGM.jade
	body
		include ../common/gtm2.jade
		include ../common/preloader.jade
		include ../partials/header.jade
		include ../partials/sections.jade
		include ../partials/footerGM.jade
		include ../partials/modals.jade
		include ../partials/scripts.jade

