
// FOOTER
footer.main-footer
	.container
		.footer1
				.copy-wrap
					p.copy
						img(src="img/footer-logo.png")
						br
						br
						| ТОВ "МАРКЕТИНГ КОНСАЛТИНГ"
						br
						| ЕГРПОУ: 40300106, Адрес: 01033, г. Киев,
						br
						| ул. Паньковская, 14, HILLSIDE TRADE LP, Registration
						<br>
						| No.: SL023989,Address: 44/46 MORNINGSIDEs
						<br>
						| ROAD SUITE 3 EDINBURGH SCOTLAND
						<br>
		.footer2
			.footer-inline
				a(target="_blank" href="https://geniusmarketing.me/politika-konfidencialnosti/", class="modal-btn") Политика конфиденциальности
				a(target="_blank" href="https://geniusmarketing.me/otkaz-ot-otvetstvennosti/", class="modal-btn") Отказ от ответственности
				a(target="_blank" href="https://geniusmarketing.me/soglasie-s-rassylkoj/", class="modal-btn") Согласие с рассылкой
				a(target="_blank" href="https://geniusmarketing.me/politika-vozvrata-denezhnyx-sredstv/", class="modal-btn") Политика возврата
				a(target="_blank" href="https://geniusmarketing.me/usloviya-oferty/" class="modal-btn") Публичный договор
		.footer3
			p.social Присоединяйтесь к нам в социальных сетях:
				br.lg
				br
				a(href="https://www.facebook.com/GeniusMarketing.me/", target="_blank").icon-fb.icon-soc <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="https://vk.com/geniusmarketing", target="_blank").icon-vk.icon-soc <i class="fa fa-vk" aria-hidden="true"></i>
				a(href="https://www.instagram.com/geniusmarketingofficial/", target="_blank").icon-inst.icon-soc <i class="fa fa-instagram" aria-hidden="true"></i>
				a(href="https://www.youtube.com/user/Olestimofeev", target="_blank").icon-yt.icon-soc <i class="fa fa-youtube" aria-hidden="true"></i>
			p.text4
				span.ru <a href="tel:+74952410787">+7 (495) 241 07 87</a>
				|  (Россия)
			p.text4
				span.ru <a href="tel:+380442371318">+38 (044) 237 13 18</a>
				|  (Украина)
		.footer-line
		p.bottom-text
			| © Олесь Тимофеев &amp; GeniusMarketing. Все права защищены. Любое копирование материалов разрешено
			<br>
			| только с согласия правообладателей. По всем вопросам обращайтесь:
			a.mail(href="mailto:info@geniusmarketing.me") info@geniusmarketing.me
// END FOOTER

<!-- HIDDEN ELEMENTS (MODALS) -->
#modal-contact.modal-overlay
	.modal-content
		.close-button
			.one
			.two
		#video-popup

<!-- END HIDDEN ELEMENTS (MODALS) -->

<!-- build:js js/libs.min.js -->
//- script(src='js/wow.min.js')
script(src='js/tingle.js')
script(src='js/AnchorScroller.js')
script(src='js/cookie.js')
script(src='js/jquery.cookie.js')
script(src='js/validatorGM.js')
script(src='js/intlTelInput.min.js')
script(src='js/script.js')
script(src='js/popup_script.js')
<!-- endbuild -->

<!-- build:js js/common.min.js -->
script(src='js/common.js')
<!-- endbuild -->
<!--auto country code srcipt -->
script.
	$(function () {
		$("input.phone").intlTelInput({
			utilsScript       : 'js/utils.js',
			defaultCountry    : 'auto',
			separateDialCode  : false,
			nationalMode      : false,
			initialCountry    : 'auto',
			geoIpLookup       : function (callback) {
					$.get("https://ipinfo.io", function () {
					}, "jsonp").always(function (resp) {
							var countryCode = (resp && resp.country) ? resp.country : "";
							callback(countryCode);
					});
			},
			preferredCountries: ['ua', 'ru', 'by', 'kz']
		});

	});
script.
	$(window).load(function(){
		$.getJSON('https://freegeoip.net/json/', function (data) {
			var country = data.country_code;
			if (country != 'UA') {
				(function (w, d, s, l, i) {
						w[l] = w[l] || [];
						w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
						var f = d.getElementsByTagName(s)[0], j = d.createElement(s),
								dl = l != 'dataLayer' ? '&l=' + l : '';
						j.async = true;
						j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
						f.parentNode.insertBefore(j, f);
				})(window, document, 'script', 'dataLayer', 'GTM-5JMBF4G');
			}
			if (getCookie("phone")) {
					$("#phone").val(getCookie("phone"));
			}
			else if (country === 'UA') {
					$('#phone').val('+380');
			}
			else if (country === "RU") {
					$('#phone').val('+7');
			}
			else {
					var countryData = $("#phone").intlTelInput("getSelectedCountryData");
					var dialCode = countryData.dialCode;
					$('#phone').val('+' + dialCode);
			}
		});
	})
<!--end auto country code srcipt -->
<!--Validation script -->
script.
	function validate(formid, idexport, gtmPush)
		{
			var output = false;
			var name, email, phone;
			form = $(formid); // указать ID формы !
			form.find('input.name').focus();
			form.find('input.email').focus();
			form.find('input.phone').focus();
			form.find('input[type="submit"]').focus();
			name = form.find('.name').val();
			email = form.find('.email').val();
			phone = form.find('.phone').val();
			phone = phone.replace(/\s/g, '');
			$(".last1").val(phone);
			exp = 'crm/' + idexport;
			// После того, как мы нажали кнопку "Отправить", делаем проверку,
			// если кол-во полей с классов .not_error равно 3(так как у нас всего 3 поля), то есть все поля заполнены верно,
			if ($('.not_error').length == 3)
			{
				// после успешной проверки отправляем форму и ставим куки
				$.ajax(
				{
					type: "POST",
					url: 'crm/export.php',
					async: false,
					data:
					{
						name: name,
						email: email,
						phone: phone,
						idexport: idexport
					},
					success: function()
					{
						setCookie('name', form.find('.name').val(), 365);
						setCookie('email', form.find('.email').val(), 365);
						setCookie('last1', form.find('.last1').val(), 365);
						setCookie('phone', form.find('.phone').val(), 365);
						setCookie('phone1', form.find('.phone').val().substr(0, 3), 365);
						setCookie('phone2', form.find('.phone').val().substr(3, 3), 365);
						setCookie('phone3', form.find('.phone').val().substr(6), 365);
						dataLayer.push({'event' : gtmPush});
						output = true;
					}
				});
			}
			else
			{
				form.find('input.error').first().focus();
			}
			return output;
		};
<!-- END Validation script -->
