// VARIABLES FOR FORM #1
- var formid = "form_event_date_1";
- var grtoken = "XXX";
- var tyurl = "https://academy.geniusmarketing.me/checkout/all";
- var emexist = "https://academy.geniusmarketing.me/checkout/all";

// variables for GTM
- var gtmID = "GTM-TRNP8W";