// VARIABLES FOR FORM #1
- var formid = "form_event_date_1";
- var idexport = 111;
- var gtmPush = "'formSubmitted_event_date'";
- var grtoken = "XXX";
- var tyurl = "https://academy.geniusmarketing.me/checkout/all";
- var emexist = "https://academy.geniusmarketing.me/checkout/all";