
// FOOTER
footer.main-footer
	.container
		.footer1
				.copy-wrap
					p.copy
						img(src="img/footer-logo.png")
						br
						br
						| ТОВ "КОНСАЛТИНГ СИНДИКАТ"
						br
						| ЕГРПОУ: 40300106, Адрес: 01033, г. Киев,
						br
						| ул. Паньковская, 14
		.footer2
			.footer-inline
				a.modal-btn(href="https://policies.geniusmarketing.me/policies" target="_blank" ) Условия оказания услуг
				a.modal-btn(href="https://policies.geniusmarketing.me/policies" target="_blank") Политика конфиденциальности
				//- a.modal-btn(href="https://geniusmarketing.me/terms/#refund" target="_blank" ) Условия возврата
				//- a.modal-btn(href="https://geniusmarketing.me/terms/#preorder" target="_blank" ) Условия предзаказа услуг
				//- a.modal-btn(href="https://geniusmarketing.me/terms/#provider" target="_blank" ) Поставщики услуг
				//- a.modal-btn(href="https://geniusmarketing.me/disclaimer" target="_blank" ) Предупреждение
		.footer3
			p.social Присоединяйтесь к нам в социальных сетях:
				br.lg
				br
				a(href="https://www.facebook.com/GeniusMarketing.me/", target="_blank").icon-fb.icon-soc <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="https://vk.com/geniusmarketing", target="_blank").icon-vk.icon-soc <i class="fa fa-vk" aria-hidden="true"></i>
				a(href="https://www.instagram.com/geniusmarketingofficial/", target="_blank").icon-inst.icon-soc <i class="fa fa-instagram" aria-hidden="true"></i>
				a(href="https://t.me/OlesTim" target="_blank").icon-telegram.icon-soc <i class="fa fa-telegram" aria-hidden="true"></i>
				a(href="https://www.youtube.com/user/Olestimofeev", target="_blank").icon-yt.icon-soc <i class="fa fa-youtube" aria-hidden="true"></i>
			p.text4
				span.ru <a href="tel:+74952410787">+7 (495) 241 07 87</a>
				|  (Россия)
			p.text4
				span.ru <a href="tel:+380442371318">+38 (044) 237 13 18</a>
				|  (Украина)
		.footer-line
		p.bottom-text
			| © Олесь Тимофеев &amp; GeniusMarketing. Все права защищены. Любое копирование материалов разрешено
			<br>
			| только с согласия правообладателей. По всем вопросам обращайтесь:
			a.mail(href="mailto:info@geniusmarketing.me") info@geniusmarketing.me
// END FOOTER


