form.standart-form(id=formid , accept-charset="utf-8" onsubmit="return validate("+formid+","+idexport+","+gtmPush+");" action="https://www.geniusm360.ru/add_subscriber.html" method="post")
	.loader
	.part.part1
		p.label Ваше имя и фамилия
		input.name(name="name", type="text", placeholder="Введите Ваши имя и фамилию", required="")
	.part.part2
		p.label Ваше e-mail
		input.email(name="email", type="email", placeholder="Введите Ваш e-mail", required="")
	.part.part3
		p.label Ваш телефон
		input.phone#phone(name="phone", type="text", required="")
	.part.part4
		input#last1.last1(type="hidden", name="custom_telephone")
		input#checktoken(type="hidden", name="campaign_token", value=grtoken)
		input#checkrespo(type="hidden", name="thankyou_url", value=tyurl)
		input#emailexist(type="hidden", name="email_exists_url", value=emexist)
		input(type="hidden", name="forward_data", value="")
		input(type="hidden", name="start_day", value="0")
	input.btn.subm(type="submit", value="Принять участие")