
meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

title Заголовок

// SEO
meta(property="og:title", content="title")
meta(property="og:description" content="Описание")
meta(property="og:image" content="http://geniusmarketing.me/pic.png")
meta(property="fb:admins" content="1510615147")
meta(property="fb:app_id" content="473200492729081")
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')


<!-- build:css css/libs.min.css -->
link(rel="stylesheet", href="css/libs.css")
<!-- endbuild -->
link(rel='stylesheet', href='css/mainGM.css')
link(rel='stylesheet', href='css/media.css')
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")