<!-- build:js js/libs.min.js -->
//- script(src='js/wow.min.js')
script(src='js/AnchorScroller.js')
script(src='js/cookie.js')
script(src='js/jquery.cookie.js')
script(src='js/validatorGM.js')
script(src='js/script.js')
script(src='js/popup_script.js')
script(src='js/jquery.countdown.js')
//- script(src='js/canvas-video-player.js')
//- script(src='js/slick.min.js')
<!-- endbuild -->
script(src='js/intlTelInput.min.js')
script(src='js/common.js')
script(src='https://geniusmarketing.me/zoho/zohoNewDeal.js')